body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
  background-color: #000;
  color: #fff;
  text-align: center;
}

a, a:visited {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.header {
  background-color: #354077;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.products {
  display: grid;
  padding: 10% 0;
  grid-template: repeat(2, 600px) / repeat(2, minmax(500px, 1fr));
  grid-gap: 100px 100px;
}

.product {
  max-width: 300px;
  margin: 0 auto;
}

.product img {
  width: minmax(250px, 300px);
  max-height: 250px;
}

.show-info {
  border: 2px solid #fff;
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  padding: 3%;
  margin: 1%;
  color: #fff;
  cursor: pointer;
}

.show-info.open-info {
  background-color: #354077;
}

.modal-window {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.modal-content {
  position: fixed;
  top: 20%;
  left: calc(50% - 250px);
  width: 500px;
  height: 100%;
  background-color: #fff;
  color: #000
}

.form-input {
  padding: 5%;
  border: 2px solid #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  outline: none;
}

.form-button {
  border: 2px solid #000;
  color: #456790;
  padding: 5%;
  margin: 1%;
  cursor: pointer;
}